{{ define "main" }}
<!-- SINGLE PAGE LAYOUT (DEFAULT) -->

<!-- TITLE (Front Matter)-->

<h1>{{ .Title }}</h1>

<!-- DATE-AND-TAGS (partial) -->

{{ partial "date-and-tags.html" . }}
<br><br>

<!-- FEATURED IMAGE (Front Matter, optional) -->

{{ with .Params.featured_image }}
    <img src="{{ . | absURL}}">
{{ end }}

<!-- TABLE OF CONTENTS (Front Matter, optional) -->

{{ if (.Params.toc) }}
	<h3>Table of Contents</h3>
	{{ .TableOfContents }}
{{ end }}

<!-- MARKDOWN CONTENT -->

{{ .Content }}

<!-- DISPLAY IMAGES IF THIS IS A PAGE BUNDLE-->

{{ with .Resources.ByType "image" }}
<h3>Print out any images in the bundle</h3>
	<div class="Image">
	{{ range . }}
		<img src="{{ .RelPermalink }}">
	{{ end }}
	</div>
{{ end }}

<!-- AND LINKS FOR ANY PAGE BUNDLE IMAGES -->

{{ with .Resources.ByType "image" }}
<h3>Image Bundle found:</h3>
	<ul>
	{{ range . }}
		<li>{{ .RelPermalink }}</li>
	{{ end }}
	</ul>
{{ end }}

<!-- RELATED LINKS -->

{{ partial "related.html" . }}

<!-- BREADCRUMB -->

<h3>Breadcrumb</h3>
{{ partial "breadcrumb.html" . }}

<!-- DEBUG (partial, Front Matter, optional) -->

{{ if (.Params.debug) }}
	<h3>Debug (single)</h3>
	{{ partial "debug-single.html" . }}
{{ end }}

<!-- MERMAID (Front Matter, optional) -->

{{ if (.Params.mermaid) }}
<!-- MermaidJS support -->
{{/*  <script async src="https://unpkg.com/mermaid@8.2.3/dist/mermaid.min.js"></script>  */}}
<script async src="https://unpkg.com/mermaid@8.8.3/dist/mermaid.min.js"></script>

{{/*  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>  */}}
{{ end }}


{{ end }}