{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ partial "date-and-tags.html" . }}
<br><br>

{{ with .Params.featured_image }}
    <img src="{{ . | absURL}}">
{{ end }}

{{ .Content }}
<!--  -->
<!-- if this is a page bundle with Resources of type image let's see them-->
<!--  -->
{{ with .Resources.ByType "image" }}
<h3>Print out any images in the bundle</h3>
	<div class="Image">
	{{ range . }}
		<img src="{{ .RelPermalink }}">
	{{ end }}
	</div>
{{ end }}
<!--  -->
<!-- print out the relative links for all images in this bundle -->
<!--  -->
{{ with .Resources.ByType "image" }}
<h3>Image Bundle found:</h3>
	<ul>
	{{ range . }}
		<li>{{ .RelPermalink }}</li>
	{{ end }}
	</ul>
{{ end }}

<em>Draft: {{ .Draft }}</em>
<hr>
<em>Last update: {{ .Lastmod }}</em>
<hr>
<em>Rating: {{ .Params.Rating }}</em>
<hr>
<em>Kind: {{ .Kind }}</em>
<hr>
<em>Summary: {{ .Summary }}</em>
<hr>
<em>featured_image: {{ .Params.featured_image }}</em>
<hr>
<em>Next and previous could go here</em>

{{ if (.Params.mermaid) }}
<!-- MermaidJS support -->
{{/*  <script async src="https://unpkg.com/mermaid@8.2.3/dist/mermaid.min.js"></script>  */}}
<script async src="https://unpkg.com/mermaid@8.8.3/dist/mermaid.min.js"></script>

{{/*  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>  */}}
{{ end }}


{{ end }}