<hr>
<em>Pages: {{ .Pages }}</em>
<hr>
<em>The dot: {{ printf "%#v" . }}</em>
<hr>
<em>Site: {{ printf "%#v" $.Site }}</em>
<hr>
<em>Draft: {{ .Draft }}</em>
<hr>
<em>CurrentSection: {{ .CurrentSection }}</em>
<hr>
<em>FirstSection: {{ .FirstSection }}</em>
<hr>
<em>Parent: {{ .Parent }}</em>
<hr>
<em>Section: {{ .Section }}</em>
<hr>
<em>Sections: {{ .Sections }}</em>
<hr>
<em>Last update: {{ .Lastmod }}</em>
<hr>
<em>Rating: {{ .Params.Rating }}</em>
<hr>
<em>Kind: {{ .Kind }}</em>
<hr>
<em>Summary: {{ .Summary }}</em>
<hr>
<em>featured_image: {{ .Params.featured_image }}</em>
<hr>
<em>resources: {{ .Resources }}</em>
<hr>
<em>slug: {{ .Slug }}</em>
<hr>
<em>type: {{ .Type }}</em>
<hr>
<em>url: {{ .URL }}</em>
<hr>
<em>Next and previous could go here</em>